<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login</title>
<link rel="stylesheet" href="{{ url_for('static', filename='cadastro-usuarios.css') }}">
</head>
<body>
<form action="{{ url_for('login') }}" method="POST">

{% with mensagens = get_flashed_messages(with_categories=true)%}
{% if mensagens %}
{% for categoria, mensagem in mensagens %}
<div class="flash {{categoria}}">
{{mensagem}}
</div>
{%endfor%}
{%endif%}
{%endwith%}

<label for="cpf">CPF:</label>
<input type="text" id="cpf" name="cpf" value="{{ request.form.cpf }}">
<label for="senha">Senha:</label>
<input type="password" id="senha" name="senha">
<button type="submit">Entrar</button>
</form>
</body>
</html>
